# Create a file named user.env with the following content, replacing the value of HF_TOKEN with your actual Hugging Face token. This file will be used to create a Kubernetes secret that allows your applications to authenticate with Hugging Face and access their models and datasets.
# and create the secret using the oc command as shown below. Make sure to run this command in the same namespace where your applications are deployed (e.g., my-first-model).
# oc create secret generic huggingface-token \
#  -n my-first-model \
#  --from-env-file=user.env
HF_TOKEN=[your HF token here]